.header{
margin-bottom:25px;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
margin-top:20px;
}

.bottom-nav{

position:fixed;

bottom:0;

left:0;

right:0;

background:#111827;

display:flex;

justify-content:space-around;

padding:12px 0;

border-top:1px solid #2b3445;

}

.bottom-nav button{

background:none;

border:none;

color:white;

font-size:15px;

cursor:pointer;

}

.container{

padding-bottom:90px;

}
